body {
    font-family: "Open Sans", Arial;
    color: #454545;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* Generic styles */


/* Header */


/* Main */
#projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
.project{
    border: 1px solid black;
}

.tools-category {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tool {
    text-align: center;
  }
  
  .tool img {
    width: 50px;
    height: 50px;
  }
  

/* Footer */
.contact-grid{
    display: flex;
}
.contact-grid article{
    width: 100%;
}