/* UTILITAT */
.flex {
    display: flex;
}

.m0a {
    margin: 0 auto;
}

html,
body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MjQ0MjUz/website-background-templates.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header nav {
    background-color: black;
    justify-content: space-around;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid gray;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a p {
    color: white;
    margin: 0px;
}

header nav ul li a p:hover {
    color: red;
}

header nav #logo {
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header nav #logo h1 {
    text-align: center;
}

/* MAIN */

/* FOOTER */