---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1
				class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4">
				Hi, I'm Arnau <div class="flex justify-center items-center">
					<Badge>Buscando trabajo</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-80">
				Desarrollador Web y técnico Informático. De Mataró, España.
				Especializado en crear experiencias aptas para todos.
			</h2>
		</section>
	</main>
</Layout>
